
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root{
    --blue:rgb(31,29,44);
    --orange:rgb(255,119,28);
    --white:rgb(238,236,242);
    --pink:rgb(254, 238, 231);
    --big-font:4rem;
    --h2-font:2.25rem;
    --p-font:0.9rem;
}

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    background-color:var(--blue);
    color: var(--white);
}

*::selection{
    color: var(--white);
    background:var(--orange);
}




/*HEADER*/ 

header {
    position: fixed;
    top:0;
    right:0;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items:center;
    z-index: 999999;
    padding: 30px 170px;
 }

.logo {
    color: var(--orange);
    font-weight: 600;
    font-size:2.4rem;
}

.navbar{
    display: flex;
}
 

.navbar a{
    color: var(--white);
    font-size: 1.1rem;
    padding:10px 20px;
    font-weight: 500;

}

.navbar a:hover{
    color:var(--orange);
    transition: .4s;
}

#menu-icon {
    font-size:2rem;
    cursor:pointer;
    display: none;
}

section{
    padding: 70px 17%;
}

.home{
    width:100%;
    min-height: 90vh;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:1.5rem;
    align-items:center;
}

.home-img img{
    max-width:100%;
    width:600px;
    height:auto;
}

.home-text h1{
    font-size:var(--big-font);
    color: var(--orange);
}

.home-text h2{
    font-size: var(--h2-font);
    margin: 1rem 0 2rem;
}

.btn{
    display:inline-block;
    padding:10px 20px;
    background:var(--orange);
    color:var(--white);
    border-radius:0.5rem;
}
.btn:hover{
    transform: scale(1.2) translateY(10px);
    transition: .4s;
}

/*About*/
.about{
    display: grid;
    grid-template-columns:repeat(2,2fr);
    grid-gap:1.5rem;
    align-items:center;
}

.about-img img{
    max-width:100%;
    width:480px;
    height: auto;
}

.about-text span{
    color: var(--orange);
    font-weight:600;
}

.about-text h2{
    font-size:var(--h2-font); 
}

.about-text p{
    margin:0.8rem 0 1.8rem;
    line-height: 1.7;
}

.heading{
    text-align: center;
}

.heading span{
    color:var(--orange);
    font-weight: 600;
}

.heading h2{
    font-size:var(--h2-font);
}

.menu-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    grid-gap:1.5rem;
    align-items: center;
}

.box{
    position: relative;
    margin-top: 4rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:var(--pink);
    padding: 20px;
    border-radius:0.5rem ;
}

.box-img{
    width: auto;
    height: 220px;
}
    

.box-img img{
    width: 100%;
    height: 100%;
    background-color: var(--pink);
}

.box h2{
    font-size: 1.3rem;
    color:var(--blue);
    background-color: var(--pink);
}

.box h3{
    color:var(--blue);
    font-size: 1rem;
    font-weight: 400;
    margin: 4px 0 10px;
    background-color: var(--pink);
}

.box span{
    font-size: var(--p-font);
    font-weight: 600;
    color:var(--orange);
    background-color: var(--pink);
}

.box .bx{
    background: var(--orange);
    position: absolute;
    right: 0;
    top:0;
    font-size: 20px;
    padding:7px 10px;
    border-radius: 0 0.5rem 0 0.5rem;
}

.service-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    grid-gap:1.5rem;
    align-items: center;
    margin-top:4rem;
}

.service-box{
    text-align: center;
    padding: 20px 30px;
}

.service-box img{
    width:90px;
}

.service-box h3{
    margin: 4px 0 10px;
    color: var(--orange);
    font-size: 1.2rem;
}

.service-box p{
    line-height: 1.7;
}

.cta{
    background-color: var(--pink);
    padding: 70px 0;
    text-align: center;
    width:66%;
    margin: 100px auto;
    border-radius: 10px;
}

.cta h2{
    font-size: 2rem;
    color: var(--blue);
    background-color: var(--pink);
    margin-bottom:30px;
}

.main{
    display: flex;
    flex-wrap: wrap;
}

.footer{
    padding: 10px 0;
}

.col{
    width: 25%;
}

.col h4{
    font-size: 1.2rem;
    color: var(--white);
    margin-bottom: 25px;
    position: relative;
}

.col h4::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 50px;
    left: 0;
    bottom:-8px;
    background: var(--orange);
}

.col ul li :not(last-child){
    margin-bottom: 15px;

}

.col ul li a{
    color:rgb(152, 151, 169);
    font-size:1.1rem;
    display: block;
    text-transform: capitalize;
    transition: .4s;
}

.col ul li a:hover{
    color: var(--white);
    transform: translateX(-12px);
}

.col .social ul{
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

i{
    background-color: var(--orange);
    color:var(--white)
}
.col .social a{
   height:40px;
    width: 40px;
    background: var(--orange);
    color:var(--white);
    display: inline-flex;
    align-items: center;
    justify-content:center ;
    font-size: 1.5rem;
    border-radius: 50%;
    transition: .4s;
   
}

.col .social i{
    margin-top: 15px;
}

.col .social a i:hover{
    transform: scale(1.2);
    color: var(--blue) !important;
}
/*DEVICES*/

@media(max-width:1560px){
    header{
        padding: 15px 40px;
    }
    :root{
        --big-font:3.5rem;
        --h2-font:2rem;
    }
    }
@media(max-width:1140px){
    #menu-icon{
        display: initial;
        color:var(--white);
        justify-items: left;
        margin-left: 70%;

    }
    header .navbar{
        position:absolute;
        top: -400px;;
        left:0;
        right:0;
        display: flex;
        flex-direction: column;
        text-align: center;
       }
       header .navbar.active{
        top: 70px;
    }
    
    .navbar a{
        padding: 1.5rem;
        display: block;
    }
    .col{
        width: 50%;
        margin-bottom: 10px;
    }
}

@media(max-width:720px){
    header{
        padding: 10px 16px;
    }
    .home{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .about{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .about-img{
        order:2;
    }
    section{
        padding: 100px 7%;
    }
}

@media(max-width:575px){
    .col{
        width: 100%;
    }
}
